################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StudentProfileNew/StudentProfileNew/.vs/StudentProfileNew.slnx
